.Titulo {
  animation-name: boom;
  animation-duration: 4s;

}
@@keyframes boom {

}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #5e5e5e5e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-right: 20px;

    top: -5px;
    right: 105%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #5e5e5e5e;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #ffffff;

}
a h1 {
  margin: 0px 2px;
}
body{
background-color: #000000;

}
div {
  width: 100%;
  height: auto;

}
img {
    width: 100%;
    height: auto;

}
section{
  width: auto;
  height: 800px;
  background: linear-gradient(#000000,#5e5e5e);
  margin: 20px;
  color: #ffffff;

}
#totop {
  font-size: 1.5em;
  text-align: center;

}
input, textarea {
  font-size: 1em;
  color: #222;
  font-weight: 300;
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

}
label {
  display: block;
  margin-bottom: 0.5em;

}
.hoja_contacto {
 max-width: 500px;
 margin: auto;

}
button[type="submit"] {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  opacity: .75;
}
form h1 {
  color: #ffffff;
  align-self: center;

}
h1 ~ label {
  color: #ffffff;
  margin: 0 auto;


}
#menu_flotante {
  padding-left: 0px;
  font-size: 1em;
  list-style: none;
text-align: center;
  position: fixed;
    right: 20px;
    top: 30%;
    width: 18px;
  background-color: #5e5e5e;
  border-radius: 50px;

}
