
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.Titulo {
  animation-name: boom;
  animation-duration: 4s;

}
@@keyframes boom {

}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #5e5e5e5e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-right: 20px;

    top: -5px;
    right: 105%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #5e5e5e5e;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #ffffff;

}
a h1 {
  margin: 0px 2px;
}

div {
  width: 100%;
  height: auto;

}
img {
    width: 100%;
    height: auto;

}

#totop {
  font-size: 1.5em;
  text-align: center;

}
input, textarea {
  font-size: 1em;
  color: #222;
  font-weight: 300;
  width: 100%;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

}
label {
  display: block;
  margin-bottom: 0.5em;

}
.hoja_contacto {
 max-width: 500px;
 margin: auto;

}
button[type="submit"] {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  opacity: .75;
}
form h1 {
  color: #ffffff;
  align-self: center;

}
h1 ~ label {
  color: #ffffff;
  margin: 0 auto;


}
#menu_flotante {
  padding-left: 0px;
  font-size: 1em;
  list-style: none;
text-align: center;
  position: fixed;
    right: 20px;
    top: 30%;
    width: 18px;
  background-color: #5e5e5e;
  border-radius: 50px;

}
.parallaxFondo, .parallaxFondo1,.parallaxFondo2, .parallaxFondo3,.parallaxFondo4, .parallaxFondo5, .parallaxFondo6{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallaxFondo{

  background-image:url(https://picsum.photos/800/1080);

    min-height: 100%;
  }

  .parallaxFondo1{
    background-image: url(https://picsum.photos/800/800);
    min-height: 400px;
  }
  .parallaxFondo2{
    background-image: url(https://picsum.photos/800/1020);
    min-height: 400px;
  }
.parallaxFondo3{
  background-image: url(https://picsum.photos/800/1040);
  min-height: 400px;
}
.parallaxFondo4{
  background-image: url(https://picsum.photos/810/1020);
  min-height: 400px;
}
.parallaxFondo5{
  background-image: url(https://picsum.photos/810/1015);
  min-height: 400px;
}
.parallaxFondo6{
  background-image: url(https://picsum.photos/830/1015);
  min-height: 400px;
}
.Mensaje {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.Mensaje span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
@media only screen and (max-device-width: 1024px) {
    .parallaxFondo, .parallaxFondo1,.parallaxFondo2, .parallaxFondo4, .parallaxFondo5, .parallaxFondo6{
        background-attachment: scroll;
    }
